.container {
    padding: 1rem;
}

.example{
    display: flex;
    gap: 5rem;
}

.example-detail {
    min-width: 20vw;
}

.options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    min-width: 70vw;
  }